<ion-card no-padding>
  <ion-card-header>
    <ion-icon name="beer-outline" slot="start"></ion-icon>
    <ion-card-title class="card-title-small">{{expenseCategory}}</ion-card-title>
    <ion-card-subtitle>Remaining $ <b>{{balance}}</b></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content no-padding>
    <ion-item>
      <ion-progress-bar color="primary" value="{{pctUtilization}}"></ion-progress-bar>
    </ion-item>
    <ion-item>
      <ion-label class="card-title-small">$ {{utilizedAmount}} of $ {{totalBudget}}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>