<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="fin-dashboard">
          <ion-icon name="home-outline">
          </ion-icon>
          <ion-label>
            {{'DASHBOARD' | translate}}
          </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="fin-transactions">
          <ion-icon name="list-outline">
          </ion-icon>
          <ion-label>
            {{'TRANSACTIONS' | translate}}
          </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="fin-budget">
          <ion-icon name="flag-outline">
          </ion-icon>
          <ion-label>
            {{'BUDGET' | translate}}
          </ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>