.auth-header
{
	@include header-styles(var(--colors-header-base), var(--colors-header-contrast));
}

.auth-content
{
	padding: 16px 6%;
	background-color: var(--colors-background-base);

	.scroll-content
	{
		padding: 16px 6%;
	}

	.auth-title
	{
		color: varr(--theme-color-2);
		margin-top: 10px;
		margin-bottom: 25px;
	}

	.auth-form
	{
		ion-item {
			@include basic-input-style(var(--colors-background-base), var(--theme-color-3), var(--white-d));

			&.item
			{
				input[type="password"].text-input
				{
					padding-right: 6rem;
				}
			}
		}

		.auth-action-button
		{
			margin: 0px;
			margin-top: 20px;

			@include call-to-action-button-styles(var(--colors-button-base), var(--colors-button-contrast));
		}

		.show-hide-password
		{
			.type-toggle
			{
				color: var(--white-d);
				margin: 0px;
				padding: 0px 6px;
				text-align: right;
			}
		}
	}

	.auth-divider
	{
		font-size: 1.6rem;
		color: var(--white-d);
		margin: 20px 0px;
		text-align: center;
	}

	.facebook-auth-button
	{
		margin: 0px;
		//@include call-to-action-button-styles(color($colors, facebook, base), color($colors, facebook, contrast));
	}

	.google-auth-button
	{
		margin: 0px;
		margin-top: 20px;
		//@include call-to-action-button-styles(color($colors, google, base), color($colors, google, contrast));
	}

	.twitter-auth-button
	{
		margin: 0px;
		margin-top: 20px;
		//@include call-to-action-button-styles(color($colors, twitter, base), color($colors, twitter, contrast));
	}
}

@import "./auth.ios.scss";
@import "./auth.wp.scss";
