.form-label
{
    font-size: 0.9em !important;
    word-wrap: break-word;
}
.form-row{
    margin-bottom: 1em !important;
}
.card-outline-curve{

    border-radius: 15px;
    border: 0.2px solid var(--ion-color-dark-tint);
    overflow: hidden;
}
.card-title-small{
    font-size: small !important;
    word-wrap: break-word;
}