@mixin header-styles($background, $color){
	--ion-toolbar-background:var(--ion-color-primary);
	.toolbah-header
	{
		border: none !important;
		background: $background;	
	}

	.title-default,
	.back-button,
	.bar-button
	{
		color: $color;
	}
}

ion-header {
	@include header-styles(var(--colors-header-base), var(--colors-header-contrast));
	//background-color: var(--colors-header-base);
	
}