<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title class="ion-text-center">{{'SIGN_IN' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen="true">
  <ion-grid class="login-header ion-padding">
      <ion-row>
          <ion-col>
              <ion-avatar>
                  <ion-img src="../../../assets/images/logo.jpg">
                  </ion-img>
              </ion-avatar>
          </ion-col>
          <ion-col>
              <ion-card-title class="">
                  Ngong Golf Club
              </ion-card-title>
          </ion-col>
      </ion-row>
  </ion-grid>

  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-item class="form-row">
      <ion-label class="form-label" stacked>Member No#</ion-label>
      <ion-icon slot="start" color="primary" name="person"></ion-icon>
      <ion-input type="text" placeholder="MBR-0001" formControlName="Username"  autocomplete="off" autocorrect="off"
      autofocus="true" required="true" step="1" slot="end" class=""></ion-input>
    </ion-item>
    <ion-item class="form-row">
      <ion-label class="form-label">Password</ion-label>
      <ion-icon slot="start" color="primary" name="lock-closed"></ion-icon>
      <ion-input name="Password" placeholder="*********" required="true" type="password" slot="end" formControlName="password" show-hide-input></ion-input>
    </ion-item>

    <ion-button expand="block" fill="outline" shape="round"
    size="default" strong="true" class="auth-action-button login-button" type="submit" [disabled]="!login.valid">{{'LOG_IN' | translate}}</ion-button>

  </form>
  <ion-row class="alt-options">
    <ion-col no-padding width-100>
      <ion-button buttonType="button" expand="block" fill="clear" shape="round" size="small" (click)="forgetPassword()">{{'FORGOT_PASSWORD?' | translate }}</ion-button>
    </ion-col>
  </ion-row>

</ion-content>