<ion-app>
  <ion-menu side="start" contentId="menuContent">
    <ion-header>
         <ion-toolbar color="primary">
             <ion-title>More Options</ion-title>
         </ion-toolbar>
     </ion-header>
     <ion-content>
         <ion-list>
             <ion-item>My Finance</ion-item>
             <ion-item>Infomation Board</ion-item>
             <ion-item>Events</ion-item>
         </ion-list>
     </ion-content>
 </ion-menu>
  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
