<ion-header>
  <ion-toolbar>
    <ion-title slot="secondary">buhuuu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-outline-curve">
    <ion-item>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label class="card-title-small">{{'ACCOUNT_BALANCE' | translate}}</ion-label>
    </ion-item>
    
    <ion-item>
        <ion-label class="ion-text-center" style="font-size: medium;font-weight: bold;">$ 700,00.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row >
          <ion-col>
              <ion-icon name="arrow-up-circle-outline" color="success"></ion-icon>
              <ion-label class="card-title-small">In: $ - 1000</ion-label>
          </ion-col>
          <ion-col>
              <ion-icon name="arrow-down-circle-outline" color="danger"></ion-icon>
              <ion-label class="card-title-small">Out: $ - 1000</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="card-outline-curve">
    <ion-card-header>
      <ion-item>
        <ion-icon name="pie-chart-outline"></ion-icon>
        <ion-card-title class="card-title-small">{{'EXPENSE_BY_CATEGORY' | translate}}</ion-card-title>
    </ion-item>
    </ion-card-header>
    <ion-card-content  no-padding>
      <google-chart [data]="pieChart"></google-chart>
    </ion-card-content>
</ion-card>

<ion-card class="card-outline-curve" no-padding>
  <ion-card-header>
    <ion-item>
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-card-title class="card-title-small">{{'GOAL_BUDGET' | translate}}</ion-card-title>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
  <ion-slides pager="true" paginationType="fraction">
    <ion-slide>
      <goal-budget [totalBudget]="11000" [balance]="2000" [utilizedAmount]="9000" [pctUtilization]="0.8" [icon]="'beer-outline'" [expenseCategory]="'Club Limit'"></goal-budget>
    </ion-slide>
    <ion-slide>
      <goal-budget [totalBudget]="1000" [balance]="500" [utilizedAmount]="500" [pctUtilization]="0.5"  [icon]="'beer-outline'" [expenseCategory]="'Drink Limit'"></goal-budget>
    </ion-slide>
    <ion-slide>
      <goal-budget [totalBudget]="500" [balance]="100" [utilizedAmount]="400" [pctUtilization]="0.7" [icon]="'beer-outline'" [expenseCategory]="'Slay Limit'"></goal-budget>
    </ion-slide>
  </ion-slides>
  </ion-card-content>
</ion-card>

</ion-content>
